.hidden {
    display: none;
}

.page-content {
    height: 100%;
}

.mdl-layout-spacer {
    height: 100%;
}

div.window-buttons-backdrop {
    width: 100px;
    height: 100%;
    display: inline-block;
}

#drag-bar {
    -webkit-app-region: drag;
}

.mdl-layout__header-row {
    height: 64px;
}